<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>#</th>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Admin?</th>
			<th width="260">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#users_data}}
		<tr>
			<td>{{id}}</td>
			<td>{{username}}</td>
			<td>{{firstname}}</td>
			<td>{{lastname}}</td>
			<td>{{admin}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<div class="btn-group" style="display:inline; top:4px;">
				  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				    Action
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li><a href="/api/affirmate/{{id}}/1?redirect=/manage/users" class="active"><span class="icon-envelope"></span> Send Email</a></li>
				    <li><a href="/api/affirmate/{{id}}/2?redirect=/manage/users" class="active"><span class="icon-bell"></span> Send SMS</a></li>
				  </ul>
				</div>

			</td>
		</tr>
	{{/users_data}}
	</tbody>
</table>