
h2, .navbar .brand{
	text-shadow:1px 1px 2px rgba(0,0,0,.6);
}
.right {
text-align: right;    
}



.row.header{
    margin-bottom: 20px;
}


[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/img/manage/glyphicons-halflings.png");

}

.icon-white {
  background-image: url("/img/manage/glyphicons-halflings-white.png");
}


form.well input[type="text"]{
    width:400px;
}

form.well textarea{
    height: 120px;
    width: 400px;
}


form.well .form-actions{
    margin-bottom: 0px;
    padding-bottom: 0px;

}



.box{
	position: relative;
	background-color: #AD1D28;
	padding: 0px 8px 0px 8px;
	-webkit-border-radius:3px;
	border-top:1px solid rgba(255,255,255, .3);
}

.box h3{
	text-shadow:1px 1px 2px rgba(0,0,0,.5);
	margin-top: 0px !important;
}

.box .label{
	position: absolute;
	top:4px;
	right:4px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-left-radius:5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.box .loading{
	position: absolute;
	width:15px;
	height: 15px;
	background-image:url(/img/manage/loading.gif);
	margin-left: 8px;
	margin-top: 12px;
	display: none;
}


.box form.well{
	background:none;
	padding: 0;

}

.box form.well input[type="text"]{
	width: 94%;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);

	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}


.box form.well .form-actions{
	margin-top:0px;
}

.box form.well .form-actions input{
	float: right;
	top:-15px;
	right: -15px;
	position: relative;
}



/* upload */

#progress, #progress_image {
	display: none;
}

#preview{
	/*display: none;*/
	width:120px;
	padding: 10px;
}

#preview_image{
	width:150px;
	padding: 10px;
	margin-top: 10px;
}


.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  line-height: 22px;
  margin: 1px 0 0 0;
}

@media (max-width: 767px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}



