{{{view.frontend_header}}}
<h2>#{{hashtag_title}}</h2>
<div id="board">

	<div class="photo" id="photo1" data-photo-id="1">
		<img src="#"  width="300" height="300" />
		<div class="user left">
			<div class="avatar"><img src="#" width="50" height="50" /></div>
			<div class="username"></div>
		</div>
		<div class="votes">
			<div class="upvotes"></div>
			<div class="downvotes"></div>
		</div>
	</div>
	
	<div class="vs">vs.</div>

	<div class="photo" id="photo2" data-photo-id="2">
		<img src="#" width="300" height="300" />
		<div class="user right">
			<div class="avatar"><img src="#" width="50" height="50" /></div>
			<div class="username"></div>
		</div>
		<div class="votes">
			<div class="upvotes"></div>
			<div class="downvotes"></div>
		</div>
	</div>

</div>

{{{view.frontend_footer}}}