<style>
	.debug {
	    position: relative;
	    border: 1px solid #000;
	    background: #ccc;
	    padding: 10px;
	    font-family: sans-serif;
	}
	.backtrace {
	    display: none;
	    background-color: yellow;
	    padding: 10px;
	    border: 2px dotted #000;
	    margin-top: 3px;
	}
	.debug_header {
	    background-color: #fff;
	    border:1px solid #000;
	    padding: 15px;
	    margin-bottom: 10px;
	    font-size:14px;
	    font-weight: bold;
	}
	.debug_header span {
	    font-weight: normal;
	}
	.debug_header a {
	    font-size: 12px;
	    color: #000;
	    text-decoration: none;
	    float: right;
	    right: 0px;
	    font-weight: normal;
	    
	}
	.debug_header a:hover {
	    text-decoration: underline;
	}
	.debug_header a.closed:before {
	    content: '[+] ';
	}
	.debug_header a.open:before {
	    content: '[-] ';
	}
	.debug h3 {
		margin: 0 0 10px 0;
	}
	.debug .trace {
		color: #777;
		background-color: #fff;
		padding: 10px;
		font-size: 13px;
		width: 100%;
	}
	.debug .trace td {
		border-bottom: 1px solid #444;
		padding: 10px;
	}
	.debug .trace .line {
		width: 20px;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		background-color: #efefef;
	}
	.debug .highlight {
		color: #2ec0cd;
	}
</style>
<div class="debug">
	<h3>Oh oh, Pigeon pooped!</h3>
	<div class="debug_header">{{{message}}}</div>
	<table class="trace">
			{{#trace}}
			<tr>
				<td class="line">Line {{line}}</td>
				<td>{{class}}{{type}}{{function}}</td>
				<td>{{file}}</td>
			</tr>
			{{/trace}}
		</tbody>
	</table>
</div>