<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{{#meta}}
    <meta {{{.}}}/>
{{/meta}}
{{#head_js}}
    <script type="text/javascript" {{{.}}}></script>
{{/head_js}}

{{#css}}
    <link rel="stylesheet" type="text/css" {{{.}}}/>
{{/css}}
</head>
<body>