{{#errors}}
<div class="container">
<div class="alert alert-error">
  {{#heading}}<strong>{{.}}</strong>{{/heading}} {{message}}
</div>
</div>
{{/errors}}

{{#flashes}}
<div class="container">
<div class="alert alert-{{type}}">
 {{#heading}}<strong>{{.}}</strong>{{/heading}} {{message}}
</div>
</div>
{{/flashes}}

{{#undos}}
<div class="container">
<div class="alert alert-{{type}}">
 {{#heading}}<strong>{{.}}</strong>{{/heading}} {{message}} <span class="undo">[<a href="{{action}}"> Undo </a>]</span>
</div>
</div>
{{/undos}}
