<div class="clearfix">
    <label for="{{id}}">{{title}}</label>
    <div class="input">
        <audio src="{{value}}" controls="true" id="{{id}}" name="{{id}}" class="{{class}}" width="{{width}}" />
    </div>
    <p></p>
    {{#remove_link}}
    <p><a href="{{.}}" class="btn btn-danger btn-mini">Remove</a></p>
    {{/remove_link}}
</div>
