<label for="{{id}}">
<input type="checkbox" id="{{id}}" name="{{id}}" class="{{class}}" value="{{value}}" {{#disabled}}disabled="disabled"{{/disabled}} {{#selected}}checked="checked"{{/selected}} />{{#required}}<span class="required">*</span>{{/required}}
{{title}}</label>