<div class="clearfix">
    <label for="{{id}}">{{title}}</label>
    <div class="input">
        <img src="{{value}}" id="{{id}}" name="{{id}}" class="{{class}}" value="{{value}}" width="{{width}}" />
        
    </div>
    <p></p>
    {{#remove_link}}
    <p><a href="{{.}}" class="btn btn-danger btn-mini">Remove</a></p>
    {{/remove_link}}
</div>
