<div class="clearfix">
<label for="{{id}}">{{title}}</label>
<div class="input">
<select id="{{id}}" name="{{id}}" class="{{class}}" value="{{value}}" {{#disabled}}disabled="disabled"{{/disabled}}>
{{#options}}
    <option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{title}}</option> 
{{/options}}
</select>

{{#required}}<span class="required">*</span>{{/required}}
</div>
</div>