<div class="form-actions">
<input type="submit" id="{{id}}" name="{{id}}" class="{{class}}" value="{{value}}" {{#disabled}}disabled="disabled"{{/disabled}} />
{{#cancel_url}}
<a href="{{.}}" class="btn">Cancel</a>
{{/cancel_url}}
</div>
