{{{view.manage_header}}}
<div class="container">
	<div class="row header">
		<div class="span6"><h2>Dashboard</h2></div>
		<div class="span6 right"></div>
	</div>


	<div class="bs-docs-grid">
		<div class="row show-grid">

			<div class="span4">
				{{{partials.settings.email}}}
			</div>

			<div class="span4">
				
			</div>

			<div class="span4">
				Test
			</div>

		</div>

		<div class="row show-grid">

			<div class="span4">
				Test
			</div>

			<div class="span4">
				Test
			</div>

			<div class="span4">
				Test
			</div>

		</div>
	</div>


</div>

{{{view.manage_footer}}}