{{{view.core_head}}}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/manage"><strong>Houston</strong> Control Panel</a>
        <ul class="nav">
            <li><a href="/manage/" class="active"><span class="icon-globe icon-white"></span> Dashboard</a></li>
            <li><a href="/manage/users"><span class="icon-user icon-white"></span> Users</a></li>
            
            <li><a href="/manage/images"><span class="icon-picture icon-white"></span> Images</a></li>
        </ul>
        <ul class="nav pull-right">
        <li class="dropdown">
                <a href="#"class="dropdown-toggle" data-toggle="dropdown"><span class="icon-cog icon-white"></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/users/logout"><span class="icon-off"></span> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
</div>

{{{view.core_messages}}}

<div class="container">