<div class="box">
<h3>Email <span class="loading"></span></h3>
<span class="label label-info not-connected tip" title="Connect your email account!">Not Connected</span>
<span class="label label-success connected tip" title="Your email is connected!" style="display:none;">Connected</span>
<span class="label label-warning error" style="display:none;">Error Occurred!</span>


{{{forms.email}}}
</div>